<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="consumer-of-dispatcher-app"  />

    <!--使用zookeeper广播注册中心暴露发现服务地址，单机配置方式   -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />
    
     <!-- 使用zookeeper广播注册中心暴露发现服务地址，集群配置方式
    <dubbo:registry address="zookeeper://192.168.86.10:2181?backup=192.168.86.11:2181,192.168.86.12:2181" />
    -->
    
    
    <dubbo:reference id="ClearingDubboService" interface="com.cmsz.cmup.clearing.dubbo.service.ClearingDubboService"/>
 	<dubbo:reference id="alipayDubboService" interface="com.cmsz.cmup.alipay.dubbo.service.AlipayDubboService"/>
 	<dubbo:reference id="MgzxjfDubboService" interface="com.cmsz.cmup.mgzxjf.dubbo.service.MgzxjfDubboService"/>
	<dubbo:reference id="testDubboService" interface="com.cmsz.cmup.upay.dubbo.service.CommonDubboService"/> 
	<dubbo:reference id="MMDubboService" interface="com.cmsz.cmup.mm.dubbo.service.MMDubboService"/>
	<dubbo:reference id="OspDubboService" interface="com.cmsz.cmosp.clearing.dubbo.service.OspDubboService"/>

	<!-- 产品化 -->
	<dubbo:reference id="ProDubboService" interface="com.cmsz.cmup.clearing.dubbo.service.ProDubboService"/>
</beans>